// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-fallback: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$wvu-shout-fallback: 'Arial Narrow', Impact, Charcoal, 'Arial Black', $helvetica-neue-fallback !default;

// Antonia
$antonia-fallback: Antonia, 'Times New Roman', Times, Georgia, serif !default;
$antonia: 'antonia-variable', $antonia-fallback !default;

// Config Variable
$config: "config-variable", $wvu-shout-fallback, sans-serif;

// Make !important configurable
$global-important: !important !default; // Set to `null` to remove !important from all CSS property values, except where explicitly defined otherwise in mixin @includes.