// WVU Letter Spacing
//==================================================
// This is good for using with a text element that is all caps and uses Iowan Old Style. It gives your text a more formal look.

@mixin wvu-text-letter-spacing($width) {
  letter-spacing: $width $global-important;
}

@mixin config($slant, $width, $weight, $is-important: $global-important) {
  font-family: $config $is-important;
  font-variation-settings: "slnt" $slant, "wdth" $width, "wght" $weight $is-important;
}

@mixin config-regular($is-important: $global-important) {
  @include config(0, 50, 100, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    font-variation-settings: "wdth" 100, "wght" 700 $is-important;
  }
}

@mixin config-condensed-regular($is-important: $global-important) {
  @include config(0, 50, 400, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    font-variation-settings: "wdth" 100, "wght" 700 $is-important;
  }
}

@mixin config-condensed-regular-italic($is-important: $global-important) {
  @include config(9, 50, 400, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    font-variation-settings: "wdth" 100, "wght" 700 $is-important;
  }
}

@mixin config-bold($is-important: $global-important) {
  @include config(0, 100, 700, $is-important);
  em {
    font-style: italic $is-important;
  }
}

@mixin config-condensed-bold($is-important: $global-important) {
  @include config(0, 50, 700, $is-important);
  em {
    font-style: italic $is-important;
  }
}

@mixin config-condensed-black($is-important: $global-important) {
  @include config(0, 50, 900, $is-important);
  em {
    font-style: italic $is-important;
  }
}

@mixin config-extra-bold($is-important: $global-important) {
  @include config(0, 100, 800, $is-important);
  em {
    font-style: italic $is-important;
  }
  // &.wvu-b-display-heading {
  //   line-height: 1.2em $global-important;
  //   margin-bottom: .5em $global-important;
  // }
  strong {
    @include config(0, 100, 300, $is-important);
  }
}

@mixin config-light($is-important: $global-important) {
  @include config(0, 100, 300, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    font-variation-settings: "wdth" 100, "wght" 700 $is-important;
  }
}

@mixin config-light-italic($is-important: $global-important) {
  @include config(9, 100, 300, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    font-variation-settings: "wdth" 100, "wght" 700 $is-important;
  }
}

@mixin config-extra-bold-italic($is-important: $global-important) {
  @include config(9, 100, 800, $is-important);
  em {
    font-style: normal $is-important;
  }
  // &.wvu-b-display-heading {
  //   line-height: 1.2em $global-important;
  //   margin-bottom: .5em $global-important;
  // }
}

@mixin antonia($optical-size, $weight, $is-important: $global-important) {
  font-family: $antonia $is-important;
  font-variation-settings: "opsz" $optical-size, "wght" $weight $is-important;
}

@mixin antonia-regular($is-important: $global-important) {
  @include antonia(6.5714, 410, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    @include antonia(6.5714, 725, $is-important);
  }
}

@mixin antonia-light($is-important: $global-important) {
  @include antonia(26.5714, 300, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    @include antonia(26.5714, 725, $is-important);
  }
}

@mixin antonia-bold($is-important: $global-important) {
  @include antonia(48, 725, $is-important);
  em {
    font-style: italic $is-important;
  }
  strong {
    @include antonia(48, 300, $is-important);
  }
}

@mixin antonia-italic($is-important: $global-important) {
  @include antonia(italic, 300, $is-important);
  font-style: italic $is-important;
  em {
    font-style: normal $is-important;
  }
}

@mixin antonia-bold-italic($is-important: $global-important) {
  @include antonia(italic, 700, $is-important);
  font-style: italic $is-important;
  em {
    font-style: normal $is-important;
  }
}

@mixin antonia-heavy($is-important: $global-important) {
  @include antonia(26.5714, 825, $is-important);
  em {
    font-style: italic $is-important;
  }
}

@mixin antonia-heavy-italic($is-important: $global-important) {
  @include antonia(8, 800, $is-important);
  font-style: italic $is-important;
  em {
    font-style: normal $is-important;
  }
}

@mixin antonia-black($is-important: $global-important) {
  @include antonia(48, 900, $is-important);
  em {
    font-style: italic $is-important;
  }
}

@mixin antonia-black-italic($is-important: $global-important) {
  @include antonia(48, 900, $is-important);
  font-style: italic $is-important;
  em {
    font-style: normal $is-important;
  }
}

@mixin shout-display-adjust() {
  display: block $global-important;
  font-size: 1.2em $global-important;
  line-height: 1 $global-important;
  // margin-bottom: -.2em $global-important;
}

@mixin config-display-adjust() {
  display: block $global-important;
  font-size: 1.1em $global-important;
  line-height: 1 $global-important;
  // margin-bottom: -.2em $global-important;
}

@mixin antonia-display-adjust() {
  display: block $global-important;
  line-height: $wvu-traditional-audience-line-height $global-important;
  // margin-bottom: -.2em $global-important;
}